.card-horizontal {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    /* flex: 1 1 auto; */
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
}
.spacer {
    min-width: 50%;
}
.body-layout{
    display: flex;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
.result {
    min-width: 200px;
    text-align: center;
}
.btn {
    max-width: 160px;
    min-width: 160px;
}

.oi{
    width: 36px;
    height: 36px;
    color: green ;
    text-align: center;
    align-self: center;
}
