#container1, #cont3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;
}

#cont2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[contentEditable=false]:empty:not(:focus):before{
    content:attr(data-text)
}
.matching-container {
    margin-bottom: 10px;
}
.card {
    
    margin-bottom: 25px;
}
.draggable-container .card, .droppable-container .card, #cont3 .card  {margin-bottom: 10px;}

.draggable-container{
    background-color: rgba(0, 0, 0, 0.03);
    text-align: center;
    margin-right: 20px;
}
.droppable-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.03);
    text-align: center;
}
.odd {
    /* background-color: aquamarine; */
    /* max-width: 60px; */
    max-height: 26px;
    width: 100%
}
.even{
    /* background-color:rgba(127, 255, 212, 0.747); */
    /* max-width: 60px; */
    max-height: 26px;
}
.shadow {
    box-shadow: 5px 5px 5px grey;
}
.m-sm{
    margin-bottom: 20px;
}
.show-hand {
    cursor: pointer;
}
